body{
	background: #FFFFFF;
	color: #e0e0e0;
	font-family: Arial;
}
p{
	color: #46494C;
}
a{
	color: #0077CC;
	text-decoration: none;
}
.tool-bar{
	position: relative;
	height: 34px;
	background: rgba(0,0,0,0.86);
	margin: 0 0 10px;
}
.tool-bar-wrapper{
	width: 1060px;
	overflow: hidden;
	margin: 0 auto;
}
nav a:hover{
	background: #444;
}
.logo{
    position: absolute;
    top: 17px;
    left: 17px;
}

nav{
    float: right;
    margin-left: 150px;
}
nav li{
	display: table-cell;
	vertical-align: middle;
}
nav li a{
	color: darkgrey;
	padding: 10px 20px;
	text-transform: lowercase;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 13px;
}
nav ul ul{
	display: none;
}
.logo a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	font-family: initial;
}

main {
    padding: 0 10px;
}